@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    color: black;
}

section table {
    width: 100%;
    border-collapse: separate;
}
section th,
section td {
    border: 1px solid black;
}

section th {
    background-color: #A2ECF0
}